<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Listado de Usuarios</h4>
                    </div>
                    <div class="content">

                        <a routerLink="/new-user" class="btn btn-success btn-fill btn-wd">
                            Agregar
                          </a>
                          <br><br>


                          

                    </div>
                </div>
            </div>
            

        </div>
    </div>
</div>