<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Mantenimiento de Preguntas</h4>
                        <p class="category"></p>
                    </div>
                    <div class="content">


                        <div class="tab-pane container">

                            <form [formGroup]="formTbl1" >
                                <div class="tab-pane" id="tab2">
                                    <h5 class="text-center">Numeros de Familias Priorizadas.</h5>
                                    <div class="row">
                                        <div class="col-md-5 col-md-offset-1">
                                            <div class="form-group">
                                                <label class="control-label">Programada</label>
                                                <input class="form-control" formControlName="programadas" type="text"
                                                    name="programada" placeholder="Ingrese Numero de Programada" />
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label class="control-label">Ejecutadas</label>
                                                <input class="form-control" type="text" formControlName="ejecutadas"
                                                    name="ejecutadas" placeholder="Ingrese numero de Ejecutadas" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="footer">
                                        <a [routerLink]="['/maintenance']">
                                            <button type="button"
                                                class="btn btn-default btn-fill btn-wd btn-back pull-left">Atras</button>
                                        </a>

                                        <button (click)="onSubmit()" type="button"
                                            class="btn btn-info btn-fill btn-wd btn-next pull-right">Siguiente</button>
                                    </div>
                                </div>

                            </form>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>