<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Numeros de Familias Priorizadass</h4>
                        <p class="category"></p>
                    </div>
                    <div class="content">

                        <div class="tab-pane" id="tab3">
                            <h5 class="text-center">Cuidador Primario.</h5>
                            <div class="row">
                                <div class="col-md-5 col-md-offset-1">
                                    <div class="form-group">
                                        <label class="control-label">Madre</label>
                                        <input class="form-control" type="text" name="madre"
                                            placeholder="Ingrese numero de Madre" />
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="control-label">Padre</label>
                                        <input class="form-control" type="text" name="padre"
                                            placeholder="Ingrese numero de Padre" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-md-offset-1">
                                    <div class="form-group">
                                        <label class="control-label">Abuela</label>
                                        <input class="form-control" type="text" name="abuela"
                                            placeholder="Ingrese numero de Abuela" />
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="control-label">Total</label>
                                        <input class="form-control" type="text" name="total"
                                            placeholder="Ingrese Valor Total" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="footer">
                                    <button type="button"
                                        class="btn btn-default btn-fill btn-wd btn-back pull-left">Atras</button>
                                    <button type="button"
                                        class="btn btn-info btn-fill btn-wd btn-next pull-right">Siguiente</button>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>