<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Mantenimiento de Preguntas</h4>
            <p class="category"></p>
          </div>
          <div class="content">


            <div class="tab-pane container">
              <div class="row">
                <form *ngIf="!loading">

                  <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                      <label class="control-label">Departamento</label>
                      <select (change)="getMunicipalitiesByDeparment($event)" class="form-control" name="department">
                        <option value="">-Seleccione un departamento-</option>
                        <option *ngFor="let item of departments" [value]="item.id">{{ item.nameD }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                      <label class="control-label">Municipio</label>
                      <select (change)="getMunicipalities($event)" class="form-control" name="municipio">
                        <option value="">- Municipio -</option>
                        <option *ngFor="let item of municialities" [value]="item.id">{{ item.nameM }}</option>
                      </select>
                    </div>
                  </div>


                  <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                      <label class="control-label">Aldea</label>
                      <select [(ngModel)]="communityId" name="aldea" class="form-control">
                        <option value="">- Aldea -</option>
                        <option *ngFor="let item of communities" [value]="item.id">{{ item.nameC }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                      <label class="control-label">Numero Familia Priorizada</label>
                      <input [(ngModel)]="familiapriorizada"  class="form-control" type="text" name="familiapriorizada"
                        placeholder="Numero Familia Priorizada" />
                    </div>
                  </div>


                  <div class="row">
                    <div class="footer">
                      <button type="button" class="btn btn-default btn-fill btn-wd btn-back pull-left">Atras</button>
                      <button type="button" class="btn btn-info btn-fill btn-wd btn-next pull-right" (click)="onSubmit()" >Siguiente</button>
                    </div>
                  </div>

                </form>
              </div>

            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>