<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Mantenimiento de Preguntas</h4>
                        <p class="category"></p>
                    </div>
                    <div class="content">
                        <div class="content">
                            <a routerLink="/new-monitoring" class="btn btn-success btn-fill btn-wd">
                                Agregar
                            </a>
                            <br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>